*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* Nav styling */
#navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid white;
    background-color: #fff;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav{
    display: flex;
    gap: 48rem;
}
#navbar div h3{
    font-family: sans-serif;
    font-size: 20px;  
    font-weight: 800;
    color: black;
    margin: 15px;
}
nav span{
    color: #F59E0B;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 5rem;
    margin: 15px;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
a:hover{
    color: black;
}
.vector_img1{
    max-width: 9vw;
    position: absolute;
    left: 25rem;
    
}

.vector_img2{
    max-width: 9vw;
    position: absolute;
    right: 5rem;
}
#e-commerce_flex{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 90%;
    margin: auto;
    gap: 9rem;
}
 #slide{
    width: 40vw;
    margin-top: 70px;
}
#record{
    width: 38vw;
    margin-top: 70px;
}
#project h3{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-top: 120px;
    color: rgb(245, 158, 11);
    text-align: center;
}
#project h3 span{
    color: #181670;
}
#project p{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}
#e-commerce_flex p{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 2rem;
    margin-top: 50px;
}
#e-commerce_flex button{
    border: 1px solid #181670;
    color: #181670;
    background-color: #fff;
    width: 12vw;
    height: 5vh;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}
#e-commerce_flex i{
    max-width:18vw;
    color: #181670;
}
#skill_img{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    width: 40%;
    margin: auto;
    gap: 3rem;
}
figure img{
    width: 3vw;
}
#My_skill p{
    margin: 40px 100px;
}